<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo center">Liste d'étudiants</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a (click)="goToSignIn()" >Inscription</a></li>
    </ul>
  </div>
</nav>

  <button (click)="fillTestValues()"> Remplissage de test</button>
   <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="example-form">

    <!-- Champs nom -->
    <div>
    <mat-form-field class="example-full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name" placeholder="Ex. John Doe">
    </mat-form-field>
    </div>

    <!-- Champs numéro de téléphone -->
    <div>
    <mat-form-field class="example-full-width center">
      <mat-label>Numéro de téléphone</mat-label>
      <input matInput formControlName="phoneNumber" placeholder="Ex. 612345678">
    </mat-form-field>
    </div>

    <!-- Champs e-mail -->
    <div>
    <mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="Ex. prenom.nom@mail.com">
    </mat-form-field>
    </div>

    <!-- Champs address -->
    <div>
    <mat-form-field class="example-full-width">
      <mat-label>Adresse</mat-label>
      <input matInput formControlName="address" placeholder="Merci de renseigner votre adresse">
    </mat-form-field>
    </div>

    <button type="submit">Inscription</button>
  </form>   

    <table mat-table [dataSource]="studentList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Phone number Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef> Numero de téléphone </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <!-- E-mail Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Adresses </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Supprimer de la base</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteStudent(element)">
             X
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>